header{
    width:100%;
    height:80px;
    border-bottom: 2px solid gray;
    text-align: center;
    background-color:white;
}

header img{
    height:50px;
    margin-top:5px;
}

body{
    margin:auto;
    background-color:#f8f8f8;
}

header a{
    float:right;
    margin-top:50px;
    margin-right:20px;
    font-size:14px;
}

.mypage{clear: right;
    width:70%;
    background-color:white;
    padding-top:30px;
    margin: auto;
    margin-top:30px;
    border:2px solid darkgray;
    box-shadow: 2px 2px ;
    margin-bottom:30px;
}