header{
    width:100%;
    height:80px;
    border-bottom: 2px solid gray;
    text-align: center;
    background-color:white;
}

header img{
    height:50px;
    margin-top:5px;
}

body{
    margin:auto;
    background-color:#f8f8f8;
}

.login{
    float:right;
    margin-top:50px;
    margin-right:20px;
    font-size:14px;
}

.main{
    clear:left;
    width:100%;
}

form{
    margin: 0 auto;
    border:2px solid lightgray;
    width:600px;
    background-color:white;
    border-radius:10px;
    margin-top:40px;
    margin-bottom:40px;
}

.form_contents{
    margin:30px 25px;
}

h1{
    text-align: center;
    border-bottom: 1px solid #31A263;
    font-size:20px;
}

label{
    display:inline-block;
    font-size:13px;
}

.hissu{
    display: inline-block;
    margin-right:5px;
    background-color:#31A263;
    color:white;
    font-size:13px;
    border-radius:4px;
    width:40px;
    text-align:center;
}

.name,.mail,.password,.picture,.comments{
    text-align:left;
    margin:25px;
}

.formbox{
    border:1px solid #dfdfdf;
    padding:5px;
    color:#999;
    background:#fff;
}

.toroku{
    text-align:center;
}

.submit_button{
    border:1px solid lightgray;
    padding:6px 60px 4px 60px;
    color:white;
    background-color:#31A263;
    border-radius:5px;
    border-bottom:2px solid gray;
    width:200px;
    margin-bottom:20px;
}

footer{
    width:100%;
    height:40px;
    background-color:white;
    color:gray;
    text-align:center;
    line-height:40px;
    font-size:13px;
    border-top:2px solid lightgray;
}